<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Mượn sách</a></li>
                      <li><a href="#">Đăng ký thẻ thư viện</a></li>

                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Nhật Ký</a></li>
                      <li><a href="#">Liên lạc</a></li>

                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Nong Lam Library</h3>
                  <p></p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">Nong Lam Library © 2022</p>
      </div>
  </footer>
</div>
