<div class="container-borrow">
  <div class="title">
    <h1>Mượn sách</h1>
  </div>
  <div class="view">
    <div class="col-md-6">

      <form class="mb-5" method="post" id="contactForm" name="contactForm">
        <div class="row">
          <div class="col-md-12 form-group">
            <input type="text" class="form-control" name="tensach" id="tensach" placeholder="Tên sách">
          </div>
          <!-- <div class="col-md-6 form-group">
            <input type="text" class="form-control" name="department" id="department" placeholder="Khoa">
          </div> -->


        </div>
        <!-- <div class="row"> -->

        <!-- </div> -->
        <div class="row">
          <div class="col-md-6 form group ">
            <select id="khoa" name="khoa" class="btn-depart">
              <option value="cntt">Công nghệ thông tin</option>
              <option value="cnsh">Công nghệ sinh học</option>
              <option value="kt">Kinh tế</option>
              <option value="ty">Thú y</option>
            </select>
          </div>
          <div class="col-md-6 form-group ">
            <!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="Loại sách"> -->
            <select id="khoa" name="khoa" class="btn-depart">
              <option value="cntt">Tài liệu tham khảo</option>
              <option value="cnsh">Giáo trình</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="Ngày mượn">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" name="department" id="department" placeholder="Ngày trả">
          </div>
        </div>
        <div class="row">
          <div class="col-6 ">
            <input type="submit" value="Clear" class="btn btn-primary rounded-0 py-2 px-4 clear">
            <!-- <span class="submitting"></span> -->
          </div>
          <div class="col-6 ">
            <input type="submit" value="Confirm" class="btn btn-primary rounded-0 py-2 px-4 confirm">
            <!-- <span class="submitting"></span> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
