<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Quản lý mượn sách - Libra Admin', 'none')"/>

<body>
<div class="container-fluid">

    <!-- navigation -->
    <div th:replace="navigation::menu"></div>

    <div>
        <h2 class="text-center mt-4">Quản Lý Mượn Sách</h2>
    </div>

    <!-- search -->
    <div th:replace="fragments :: search_form_and_message('/borrows/page/1')"/>

    <!-- table -->
    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>Tên người mượn</th>
                <th>Tên sách</th>
                <th class="hideable-column">Ngày mượn</th>
                <th class="hideable-column">Ngày trả</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            </thead>

            <!-- load user list -->
            <tbody>
            <tr th:each="borrow: ${listBorrows}">
                <td>[[${borrow.user.fullName}]]</td>
                <td>[[${borrow.book.name}]]</td>
                <td class="hideable-column">[[${#dates.format(borrow.loanDate, 'dd-MM-yyyy')}]]</td>
                <td class="hideable-column">[[${#dates.format(borrow.returnedDate, 'dd-MM-yyyy')}]]</td>
                <td>
                    <div th:replace="fragments :: status(${borrow.enabled}, 'Mượn sách', '/borrows/' + ${borrow.id})"/>
                </td>
                <td>
                    <div th:replace="fragments :: edit('Mượn sách', '/borrows/edit/' + ${borrow.id})"/>
                    &nbsp;
                    <div th:replace="fragments :: delete('Mượn sách', ${borrow.id}, '/borrows/delete/' + ${borrow.id}, true)"/>
                </td>
            </tr>
            </tbody>
            <!-- load user list -->

        </table>
    </div>
    <!-- table -->

    <div class="less-details">
        <div th:each="borrow: ${listBorrows}" class="row m-1">
            <div class="col-8">
                <div>[[${borrow.user.fullName}]]</div>
                <div>[[${borrow.book.name}]]</div>
                <div>
                    <div th:replace="fragments :: status(${borrow.enabled}, 'Mượn sách', '/borrows/' + ${borrow.id})"/>
                    &nbsp;
                    <div th:replace="fragments :: edit('Mượn sách', '/borrows/edit/' + ${borrow.id})"/>
                    &nbsp;
                    <div th:replace="fragments :: delete('Mượn sách', ${borrow.id}, '/borrows/delete/' + ${borrow.id}, true)"/>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <!-- pagination -->
    <div th:replace="fragments :: pagination('/borrows', 'thông tin mượn sách')"/>

    <!-- confirm modal -->
    <div th:replace="modal_fragments :: confirm_modal"/>

    <!-- footer -->
    <div th:replace="fragments :: footer"/>

</div>

<script type="text/javascript">
    moduleURL = "[[@{/borrows/}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'borrow');
        });
    });
</script>
<script th:src="@{/js/common_list.js}"></script>

</body>
</html>
