<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Mượn sách - Libraria')"/>

<body>

<div th:replace="navigation :: menu"/>

<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>MƯỢN SÁCH</h2>
            <span class="underline center"></span>
        </div>
    </div>
</section>

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="checkout-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <article class="page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <form th:action="@{/borrow/save}" class="checkout woocommerce-checkout"
                                              method="post" name="checkout" th:object="${borrow}">
                                            <input type="hidden" th:name="userId" th:value="${session.userLogged.id}"/>
                                            <input type="hidden" th:name="bookId" th:value="${book.id}"/>
                                            <input type="hidden" th:field="*{enabled}"/>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <h2>Mượn sách</h2>
                                                    <span class="underline left"></span>
                                                    <div class="woocommerce-checkout-review-order" id="order_review">
                                                        <table class="shop_table woocommerce-checkout-review-order-table">
                                                            <thead>
                                                            <tr>
                                                                <th class="product-name">Thông tin sách</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="cart_item">
                                                                <td class="product-name">
                                                                    <span class="woocommerce-product-amount">Tên sách</span>
                                                                </td>
                                                                <td class="product-total">
                                                                    <span class="woocommerce-Price-amount amount">[[${book.name}]]</span>
                                                                </td>
                                                            </tr>
                                                            <tr class="cart_item">
                                                                <td class="product-name">
                                                                    <span class="woocommerce-product-amount">Tên tác giả</span>
                                                                </td>
                                                                <td class="product-total">
                                                                    <span class="woocommerce-Price-amount amount">[[${book.nameAuthor}]]</span>
                                                                </td>
                                                            </tr>
                                                            <tr class="cart_item">
                                                                <td class="product-name">
                                                                    <span class="woocommerce-product-amount">Nhà xuất bản</span>
                                                                </td>
                                                                <td class="product-total">
                                                                    <span class="woocommerce-Price-amount amount">[[${book.publisher}]]</span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                            <tfoot>
                                                            <tr class="cart-subtotal">
                                                                <td class="product-name">
                                                                    <span class="woocommerce-product-amount">Ngày mượn</span>
                                                                </td>
                                                                <td class="product-total">
                                                                    <input type="date"
                                                                           class="woocommerce-Price-amount amount"
                                                                           th:field="*{loanDate}" required
                                                                           oninput="checkValidReturnDate(document.getElementById('returnedDate'))">
                                                                </td>
                                                            </tr>
                                                            <tr class="cart-shipping">
                                                                <td class="product-name">
                                                                    <span class="woocommerce-product-amount">Ngày trả</span>
                                                                </td>
                                                                <td class="product-total">
                                                                    <input type="date"
                                                                           class="woocommerce-Price-amount amount"
                                                                           th:field="*{returnedDate}" required
                                                                           oninput="checkValidReturnDate(this)">
                                                                </td>
                                                            </tr>
                                                            <tr class="order-total">
                                                                <th>
                                                                    <input type="submit" value="Xác nhận"
                                                                           class="btn btn-primary">
                                                                </th>
                                                                <th>
                                                                    <input type="button" value="Trở về"
                                                                           class="btn btn-primary" id="btnReturn">
                                                                </th>
                                                            </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div><!-- .entry-content -->
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Footer -->
<div th:replace="fragments :: footer"/>

<!-- jquery/js -->
<div th:replace="fragments :: script"/>

<script type="text/javascript">
    url = "[[@{/books}]]";

    $(document).ready(function () {
        // navigate when pressing cancel button
        $("#btnReturn").on("click", function () {
            window.location = url;
        });
    });

    function checkValidReturnDate(returnDate) {
        if (returnDate.value <= $("#loanDate").val()) {
            returnDate.setCustomValidity("Ngày trả sách phải lớn hơn ngày mượn sách!");
        } else {
            returnDate.setCustomValidity("");
        }
    }
</script>

</body>

</html>