<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="menu"
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">

    <!-- logo -->
    <a th:href="@{/}" class="navbar-brand">
      <img th:src="@{/images/logo.png}"/>
    </a>

    <!-- toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- điều hướng -->
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a th:href="@{/users}" class="nav-link">Người dùng</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/librarian}" class="nav-link">Thủ thư</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/borrows}" class="nav-link">Mượn sách</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

</body>
</html>
