<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Quản lý người dùng - Libra Admin', 'none')"/>

<body>
<div class="container-fluid">

    <!-- navigation -->
    <div th:replace="navigation::menu"></div>

    <div>
        <h2 class="text-center mt-4">Quản Lý Người Dùng</h2>
    </div>

    <!-- search -->
    <div th:replace="fragments :: search_form_and_message('/users/page/1')"/>

    <!-- table -->
    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th class="hideable-column">Email</th>
                <th class="hideable-column">Tên</th>
                <th class="hideable-column">Họ</th>
                <th>Thẻ thư viện</th>
                <th class="hideable-column">CMND</th>
                <th class="hideable-column">SĐT</th>
                <th>Vai trò</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            </thead>

            <!-- load user list -->
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td class="hideable-column">[[${user.email}]]</td>
                <td class="hideable-column">[[${user.firstName}]]</td>
                <td class="hideable-column">[[${user.lastName}]]</td>
                <td>[[${user.identifier}]]</td>
                <td class="hideable-column">[[${user.citizenIdentification}]]</td>
                <td class="hideable-column">[[${user.phoneNumber}]]</td>
                <td>[[${user.role}]]</td>
                <td>
                    <div th:replace="fragments :: status(${user.enabled}, 'Người dùng', '/users/' + ${user.id})"/>
                </td>
                <td>
                    <div th:replace="fragments :: delete('Người dùng', ${user.id}, '/users/delete/' + ${user.id}, true)"/>
                </td>
            </tr>
            </tbody>
            <!-- load user list -->

        </table>
    </div>
    <!-- table -->

    <div class="less-details">
        <div th:each="user: ${listUsers}" class="row m-1">
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <td>[[${user.identifier}]]</td>
                <div>[[${user.role}]]</div>
                <div>
                    <div th:replace="fragments :: status(${user.enabled}, 'Người dùng', '/users/' + ${user.id})"/>
                    <div th:replace="fragments :: delete('Người dùng', ${user.id}, '/users/delete/' + ${user.id}, true)"/>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <!-- pagination -->
    <div th:replace="fragments :: pagination('/users', 'Người dùng')"/>

    <!-- confirm modal -->
    <div th:replace="modal_fragments :: confirm_modal"/>

    <!-- footer -->
    <div th:replace="fragments :: footer"/>

</div>
<script type="text/javascript">
    moduleURL = "[[@{/users/}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'user');
        });
    });
</script>
<script th:src="@{/js/common_list.js}"></script>
</body>
</html>
