<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Quản lý thủ thư - Libra Admin', 'none')"/>

<body>
<div class="container-fluid">

    <!-- navigation -->
    <div th:replace="navigation::menu"></div>

    <div>
        <h2 class="text-center mt-4">Quản Lý Thủ Thư</h2>
        <a th:href="@{/librarians/new}" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>
    </div>

    <!-- search -->
    <div th:replace="fragments :: search_form_and_message('/librarians/page/1')"/>

    <!-- table -->
    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th class="hideable-column">Email</th>
                <th class="hideable-column">Tên</th>
                <th class="hideable-column">Họ</th>
                <th class="hideable-column">CMND</th>
                <th class="hideable-column">SĐT</th>
                <th>Vai trò</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            </thead>

            <!-- load user list -->
            <tbody>
            <tr th:each="librarian: ${listLibrarians}">
                <td class="hideable-column">[[${librarian.email}]]</td>
                <td class="hideable-column">[[${librarian.firstName}]]</td>
                <td class="hideable-column">[[${librarian.lastName}]]</td>
                <td class="hideable-column">[[${librarian.citizenIdentification}]]</td>
                <td class="hideable-column">[[${librarian.phoneNumber}]]</td>
                <td>[[${librarian.role}]]</td>
                <td>
                    <div th:replace="fragments :: status(${librarian.enabled}, 'Thủ thư', '/librarians/' + ${librarian.id})"/>
                </td>
                <td>
                    <div th:replace="fragments :: edit('Thủ thư', '/librarians/edit/' + ${librarian.id})"/>
                    &nbsp;
                    <div th:replace="fragments :: delete('Thủ thư', ${librarian.id}, '/librarians/delete/' + ${librarian.id}, true)"/>
                </td>
            </tr>
            </tbody>
            <!-- load user list -->

        </table>
    </div>
    <!-- table -->

    <div class="less-details">
        <div th:each="librarian: ${listLibrarians}" class="row m-1">
            <div class="col-8">
                <div>[[${librarian.fullName}]]</div>
                <div>[[${librarian.role}]]</div>
                <div>
                    <div th:replace="fragments :: status(${librarian.enabled}, 'Thủ thư', '/librarians/' + ${librarian.id})"/>
                    &nbsp;
                    <div th:replace="fragments :: edit('Thủ thư', '/librarians/edit/' + ${librarian.id})"/>
                    &nbsp;
                    <div th:replace="fragments :: delete('Thủ thư', ${librarian.id}, '/librarians/delete/' + ${librarian.id}, true)"/>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <!-- pagination -->
    <div th:replace="fragments :: pagination('/librarians', 'Thủ thư')"/>

    <!-- confirm modal -->
    <div th:replace="modal_fragments :: confirm_modal"/>

    <!-- footer -->
    <div th:replace="fragments :: footer"/>

</div>

<script type="text/javascript">
    moduleURL = "[[@{/librarians/}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'librarian');
        });
    });
</script>
<script th:src="@{/js/common_list.js}"></script>

</body>
</html>
